# Sample .travis.yml for R projects

language: r
warnings_are_errors: false
sudo: required

env:
 global:
   - CRAN: http://cran.rstudio.com

r_packages:
   - rmarkdown

notifications:
  email:
    on_success: change
    on_failure: change
